additional
dataset utilities
**/__pycache__

ISLR/log
ISLR/saved_models
ISLR/models
ISLR/videos
ISLR/test*
ISLR/data/signs
ISLR/data/slsl-22/lip
ISLR/data/slsl-22/islsl-22

CSLR/data/features
CSLR/logs
CSLR/ckpt
CSLR/*sw*
CSLR/results
CSLR/examples
CSLR/tools
CSLR/.python-version

front-end-application/model/*/ckpt.pth